USE [master]
GO
/****** Object:  Database [practica_13]    Script Date: 11/11/2022 11:26:01 ******/
CREATE DATABASE [practica_13]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'practica_13', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\practica_13.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'practica_13_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\practica_13_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [practica_13].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [practica_13]
GO
/****** Object:  Table [dbo].[Alumno]    Script Date: 11/11/2022 11:26:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alumno](
	[legajo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](80) NULL,
	[apellido] [varchar](80) NULL,
	[fecha_nac] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[legajo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cursa]    Script Date: 11/11/2022 11:26:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cursa](
	[cod_cursa] [int] IDENTITY(1,1) NOT NULL,
	[legajo] [int] NULL,
	[cod_mat] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_cursa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materia]    Script Date: 11/11/2022 11:26:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materia](
	[cod_mat] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_mat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Alumno] ADD  DEFAULT ('NN') FOR [nombre]
GO
ALTER TABLE [dbo].[Alumno] ADD  DEFAULT ('NN') FOR [apellido]
GO
ALTER TABLE [dbo].[Materia] ADD  DEFAULT ('Sin Descripcion') FOR [descripcion]
GO
ALTER TABLE [dbo].[Cursa]  WITH CHECK ADD FOREIGN KEY([cod_mat])
REFERENCES [dbo].[Materia] ([cod_mat])
GO
ALTER TABLE [dbo].[Cursa]  WITH CHECK ADD FOREIGN KEY([legajo])
REFERENCES [dbo].[Alumno] ([legajo])
GO
USE [master]
GO
